*.dll
*.tmp
*.gpState
*.pdb
*.suo
*.swp
*.user
*.mdb
obj/
**/Thumbs.db
.DS_Store
.JustCode
.bundle/
.vscode/
.livereload
dist/
**/bin
**/.vs
*/node_modules
*/.asset-cache
*package-lock.json

# Visual Studio Code
.settings/launch.json
.vs
.vscode

# Project specific
for-publish/
**/properties