@page "/"
@namespace BlazorDashboard.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>BlazorDashboard</title>
	<base href="~/" />
	<link href="favicon.ico" rel="icon" type="image/x-icon" />
	<link href="css/styles.css" rel="stylesheet" />
	<script src="_content/telerikuiforblazor/js/telerik-blazor.js" defer></script>
</head>
<body>
    <app>@(await Html.RenderComponentAsync<App>())</app>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
