@using BlazorDashboard.Models
@using BlazorDashboard.DataRetrieval

@foreach (string lbl in CurrIssue.Labels)
{
	<span class="badge" style="background-color: @(LabelColors.GetColor(lbl)) ;">@lbl</span>
}

@functions {
	[Parameter]
	private Issue CurrIssue { get; set; }
}